*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/compiler.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_3_27_21,_9_57_PM_[Default_Changelist]/shelved.patch
